/* 차트 스타일 */
#charts {
    text-align: center;
    display: flex; /* 차트를 수평 정렬하기 위해 flex 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    flex-direction: column; /* 수직으로 쌓이도록 설정 */
}

/* 표 스타일 */
table {
    width: 500px;
    text-align: center;
}

/* 표의 th, td 스타일 수정 (옵션) */
table th,
table td {
    padding: 10px; /* 셀 내부 여백 설정 */
}

/* 컬럼 스타일 */
.column {
    font-size: 18px; /* 폰트 크기를 크게 설정 */
    font-weight: bold; /* 굵은 글꼴 적용 */
    width: 50px; /* 컬럼의 너비를 조절합니다. */
    color: #666666;
}

.chart {
    margin-bottom: 50px; /* 각 차트 아래에 20px 간격을 설정합니다. */
    text-align: center;
}

body
{
  margin: 0;
  padding: 0;
  background: #fff;
  color: #cdcdcd;
}

/* 네비게이션 바 스타일 */
nav {
    height: 50px; /* 네비게이션 바의 높이 */
    background-color: #3498db; /* 배경색 */
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #3498db;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}