<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" th:href="@{/css/chart.css}"/>
    <script src="../static/js/chart.js"></script>
    <title>차트</title>
</head>
<body>
<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="#">
                <li class="menu-item">당일 자료</li>
            </a>
            <a href="#">
                <li class="menu-item">당월 자료</li>
            </a>
        </ul>
    </div>
</nav>
<div id="charts">
    <div class="chart">
        <canvas id="gaugeChart" width="500" height="500"></canvas>
    </div>
    <div class="chart" id="chartContainer">
        <button id="chartToggleButton">Toggle Chart</button>
        <canvas id="chart" width="500" height="500"></canvas>
    </div>
<!--    <div class="chart">-->
<!--        <canvas id="donutChart" width="500" height="500"></canvas>-->
<!--    </div>-->
    <table class="table">
        <thead>
        <tr>
            <th class="column">No</th>
            <th class="column">meterTs</th>
            <th class="column">meter</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iterStat : ${weeklyMeterList}">
            <td th:text="${iterStat.index + 1}"></td>
            <td class="meterTs" th:text="${item.meterTs}"></td>
            <td class="meter" th:text="${item.meter}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    const usageForDay = [[${usageForDay}]];
    const weeklyMeterList = [[${weeklyMeterList}]];
    const titleForDay = [[${titleForDay}]];
    const title = [[${title}]];

    window.onload = function() {
        // 날짜 형식 변경
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // 0부터 시작하기 때문에 +1 해줍니다.
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;

        var meterTsElements = document.getElementsByClassName("meterTs");

        for (var i = 0; i < meterTsElements.length; i++) {
            meterTsElements[i].textContent = today;
        }

        //
        // JavaScript 코드
        const chartToggleButton = document.getElementById('chartToggleButton');
        const chartContainer = document.getElementById('chartContainer');

        // 차트 우측 상단으로 버튼 위치 설정
        chartToggleButton.style.position = 'absolute';
        chartToggleButton.style.top = '10px'; // 원하는 상단 여백(px) 설정
        chartToggleButton.style.right = '10px'; // 원하는 우측 여백(px) 설정

        getGaugeChart();
<!--        getBarChart();-->
<!--        getDonutChart();-->
    }
</script>
</body>
</html>